div.CocoLogo img {
    width:70%;

}


.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    width: 100%;
    color: white;
    background-color: rgb(156, 118, 87);
    box-sizing: border-box;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 0px 3px;
}

h1.title{

    color: rgb(78, 70, 69);
}
