div.CocoLogo img {
    width:70%;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
   
    width: 100%;
    color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,.6);
    background-color: rgba(0, 0, 0, 0.842);
    position: fixed;
    box-sizing: border-box;
    justify-content: space-between; 
}
ul {
    list-style: none;
    display: flex;   
}
li {
    padding: 0px 3px;
}

div.title{
    text-align: center;
    font-size: 30px;
    background-color: rgb(175, 149, 135);
    color: rgb(46, 41, 36);
    padding: 8px;
    
}
h2 {
    color: rgb(85, 68, 58); 
}
