div.CocoLogo img {
    width:70%;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    width: 100%;
    color: white;
    background-color: rgb(156, 118, 87);
    box-sizing: border-box;
    justify-content: space-between; 
}
ul {
    list-style: none;
    display: flex;   
}
li {
    padding: 0px 3px;
}

h1.title{
    text-align: center;
    background-color: rgb(175, 149, 135);
    color: rgb(85, 68, 58);
    padding: 8px;
    
}
