u {
    color: rgb(124, 99, 75);
    
}

div.contenedor {
   
    padding-bottom: 25px;

 
}

div.cart-product  {
    background-color: rgba(37, 37, 37, 0.164);
    color: rgb(90, 62, 42);
    font-size: 30px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    }


div.cart-product  img{

background-color: black;
border-radius: 15px;
width: 14%;
height: auto;
}

a.cart-title-box {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}


a.cart-price-box {
    
    padding-right: 10px;
    color: white;
    border-radius: 15px;
    background-color: rgb(41, 39, 39);
}

div.total-product-cart{

    color: rgb(95, 55, 48);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 15px;
    text-align: end;
}

div.total-price-box {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: rgb(112, 79, 52);
     font-size: 40px;
     text-align: end;
     padding-right: 25px;
}

div.clear-button-position {
    text-align:end;
    padding-right: 150px;

}
.clear-button{
   
    padding:0.35em 1.2em;
    border:0.1em solid rgb(41, 39, 39);
    margin:0 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    text-align: end;
    font-size: 20px;
    color:rgb(31, 30, 30);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: rgb(235, 227, 227);
            }
    .clear-button:hover{
        
        color:#ffffff;
        border:0.1em solid #ffffff;
        background-color:rgb(41, 40, 40);
            }



div.button-buy-position{
    text-align:end;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;

}
.button-buy{
   
    padding:0.35em 1.2em;
    border:0.1em solid rgb(41, 39, 39);
    margin:0 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    text-align: end;
    font-size: 30px;
    color:rgb(255, 255, 255);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: rgb(155, 115, 97);
            }
    .button-buy:hover{
        
    color:rgb(155, 115, 97) ;
    border:0.1em solid rgb(41, 39, 39);
    background-color:white;
            }

  button.remove {
       color: white;
       background-color: rgb(41, 39, 39);
       padding-left: 15px;
       padding-top: 5px;
       padding-bottom: 5px;
       padding-right: 15px;
       margin:0 0.3em 0.3em 0;
       box-sizing: border-box;
       text-decoration:none;
       transition: all 0.2s;
       cursor: pointer;
       font-size: 25px;      
       border-radius: 15px;
       
            }
            .remove:hover{
        
                color:rgb(0, 0, 0) ;
                border:0.1em solid rgb(41, 39, 39);
                background-color:white;
                        }
