div.background{

    background-color: rgb(31, 30, 30);
}

img.solid-img {

width: 100%;
height:auto;

}
div.Find-Us{
    padding-bottom: 15px;
    color: white;
    font-size: 28px;
    text-align: center;
    background-color: rgb(31, 30, 30);
}